<configuration  scan="true" scanPeriod="30 seconds" >
  	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
	    </encoder>
  	</appender>
  
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    <fileNamePattern>${webBaseDir}/log/%d{yyyy-MM-dd}/frameworkset-log.%i.log</fileNamePattern>
	    <maxHistory>30</maxHistory>
	    <timeBasedFileNamingAndTriggeringPolicy
	          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	      <maxFileSize>10MB</maxFileSize>
	    </timeBasedFileNamingAndTriggeringPolicy>
	    
	  </rollingPolicy>
	  
	  <encoder>
	    <pattern>%date [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
	  </encoder>
	</appender>
	
	<appender name="FILE_LOGIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    <fileNamePattern>${webBaseDir}/log/%d{yyyy-MM-dd}/frameworkset-login.%i.log</fileNamePattern>
	    <maxHistory>30</maxHistory>
	    <timeBasedFileNamingAndTriggeringPolicy
	          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	      <maxFileSize>10MB</maxFileSize>
	    </timeBasedFileNamingAndTriggeringPolicy>
	    
	  </rollingPolicy>
	  
	  <encoder>
	    <pattern>%date [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
	  </encoder>
	</appender>

	<root level="info">
	    <appender-ref ref="STDOUT" />
	    <appender-ref ref="FILE" />
	</root>
	<logger name="druid.sql.DataSource" level="info" />
	<logger name="druid.sql.Connection" level="info"/>
	<logger name="druid.sql.Statement" level="info"/>
	<logger name="druid.sql.ResultSet" level="info"/>
	<logger name="com.sunyard.MonitorLogger" level="debug"/>
	
	<logger name="LoginController.login" level="info" additivity="false">
	    <appender-ref ref="STDOUT" />
	    <appender-ref ref="FILE_LOGIN" />
	</logger>
  
</configuration>